<%= link_to 'Back', friends_path %>

<div class="row">
	<div id="users" class="col-md-offset-2 col-md-8">
		<div class="panel panel-default">
			<% @users = User.all %>
			<% @users.each do |user| %>
		<div class= "panel-heading center">
			<%= image_tag user.image.url(:medium).to_s %>
			</div>
				<div class="panel-body">
					<p><%= user.email %></p>
					<p><strong><%= user.name %></strong></p>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>

