<div class="jumbotron center">
	<h1>About us</h1>
<p> Just Roam is a social media platform that allows users to find the adventurous spirit within them, as well as provide tools to find new friends nearby and around the world that want to share in new adventures.</p>
<p> Create your profile. Post your media. Search for new friends. Adventure together.</p>
</div>
