<div class="bg row">

	<div class="container col-md-12">
			<p></p>
			<p></p>
			<p></p>
			<p></p>
			<div class="jumbotron center">
				<h1>Questions & Comments?</h1>
				<p><%= link_to "Email Us", "mailto:olottapi@gmail.com", class: "btn btn-primary btn-lg" %></p>
			</div>			
	</div>		
</div>